@model ServiceDTO

@{
    string? strTitle = Model.Title;
    ViewBag.Title = strTitle;
}



<!-- Основная сетка -->
<div class="row">
    @await Html.PartialAsync("_SidebarPartial")

    <div class="col-8 col-12-medium">
        <div class="content">
            <h2 class="div-box">@strTitle</h2>

            @if (Model.CategoryName != null)
            {
                <div class="div-box">
                    Категория: <span class="text-bold">@Model.CategoryName</span>
                </div>
            }

            <div class="div-box">
                Тип услуги: <span class="text-bold">@Model.Type</span>
            </div>

            <div class="div-box">
                <div class="img-container">
                    <img src="~/img/@Model.PhotoFileName" alt="@Model.Title" />
                </div>
            </div>

            @if (!string.IsNullOrEmpty(Model.DescriptionShort))
            {
                <div class="div-box">
                    <p>@Model.DescriptionShort</p>
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.Description))
            {
                <div class="div-box">
                    @Html.Raw(Model.Description)
                </div>
            }
        </div>
    </div>
</div>